.Rproj.user
.Rhistory
.RData
.Ruserdata

./data/Belgium_export.rds
./data/Belgium_export.xlsx
./data/Belgium_export-site_raw.csv
./data/Belgium_export-site.csv
./data/Belgium_export-nation.csv

plot/*
04_quarto_files/*
library/*

*.html
*.docx
*.rds
*.xlsx